# Compiled source #
###################
*.exe
*.o
build/*

# Testing output #
###################
*.out

# Python cache #
##################      

__pycache__/
*.pyc

# CMake files #
###################
output/